@media (min-width:992px) {

}

.inventoryBox{
    padding: 20px;
    margin: 10px;
    border: lightgray solid 1px;
    border-radius: 15px;
}

.inventoryCard{
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: lightgray solid 2px;
}

.inventoryCard img{
    border-radius: 10px;
    width: 100%;
    height: 80px;
}
.btn{
    border-radius: 0 !important;
}

.inventoryCard .mybtn {
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 15px;
    width: 35px;
    height: 40px;
    background-color: lightgray;
}

.inventoryCard span {
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.inventoryCard p{
    font-size: 16px;
    font-weight: 400;
    color: gray;

}

@media screen and (max-width:600px) {
    .inventoryCard img{
        border-radius: 10px;
        width: 100px;
        height:100px;
    }

}