@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body,
* {
  font-family: 'Gilroy-SemiBold';
}

.btn {
  box-shadow: none !important;
  outline: none !important;
}

.btn-success:hover{
  background-color: rgba(var(--bs-success-rgb), 1) !important;
  color: white !important;
  box-shadow:0 0 25px rgba(106, 235, 106, 0.527), 0 0 50px rgba(0, 255, 0)!important;
}

.btn-danger:hover{
  background-color: rgba(var(--bs-danger-rgb), 1) !important;
  color: white !important;
  box-shadow:0 0 25px rgba(241, 135, 135, 0.6), 0 0 50px rgba(255, 0, 0)!important;
}

.btn-secondary:hover{
  background-color: rgba(var(--bs-secondary-rgb), 1) !important;
  color: white !important;
  box-shadow:0 0 25px rgba(128, 128, 128, 0.527), 0 0 50px rgba(56, 56, 56)!important;
}

.btn-warning:hover{
  background-color: rgba(var(--bs-warning-rgb), 1) !important;
  color: white !important;
  box-shadow:0 0 25px rgba(238, 176, 61, 0.384), 0 0 50px orange!important; 
}


/* .search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 0px;
  width: 0px;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color:black;
}
.input-search::placeholder{
  color:black;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 0px;
  height: 0px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  top: -5px;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid black;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
} */




.form-control {
  box-shadow: none !important;
  outline: none !important;
}

.prompt-container:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}

.prompt-container:closed {
  display: none;
}

.prompt {
  border-radius: 15px;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: white;
  padding: 40px;
  width: 600px;
  max-width: 100%;
  z-index: 1;
}

#prompt .btn-logout {
  width: 100%;
  border: rgba(128, 128, 128, 0.461) solid 1px;
  border-radius: 0px !important;
  background-color: rgba(238, 233, 233, 0.603);
}

#prompt .btn-stay {
  width: 100%;
  color: white;
  border-radius: 0px !important;
  background-color: #219050;
}


@media (min-width:992px) {
  #main {
    padding-left: 205px;
    min-height: 100vh;
  }

  .vertical-nav {
    position: absolute;
    top: 49.5px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f8f8f8;
    overflow-y: auto;
    padding-top: 0px;
    border: lightgray solid 1px;

  }

  .navbar {
    border-bottom: lightgrey solid 1px;
  }


}

.navbar {
  border-bottom: lightgrey solid 1px;
}

.active {
  background-color: lightskyblue;
}

.vertical-nav .nav-item {
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: lightgray solid 1px;
}

.vertical-nav .nav-item .nav-link {
  color: black;
  font-weight: bold;
}

.vertical-nav .nav-item i {
  color: green;
  font-size: 20px;
}

nav a i {
  text-decoration: none;
  color: black;
}

nav img {
  width: 30px;
}


/* footer */

footer {
  padding: 20px 0px;
  background: rgba(39, 127, 60, 1);
  color: white;
  text-align: center;
}

footer p {
  color: white;
  font-size: 18px;
}

footer i {
  font-size: 24px;
  padding: 2px 5px;
  color: white;
}






.footerClass img {
  align-self: center;
  border-radius: 70px;
}

.footerClass {
  padding: 30px;
  background: rgba(39, 127, 60, 1);
  color: white;
}

.footerClass i {
  color: white;
}

.footerClass ul {
  list-style: none;
}

.fheading {
  font-size: 20px;
}

.fnav li {
  padding: 10px;
  font-size: 12px;
}

.footerClass form input {
  border-radius: 90px;
  color: #219050;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  background-color: white;
  height: 3px;
}

.copyright-area {
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}

/* .copyright-text p a{
  color: #ff5e14;
} */
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

/* .footer-menu li:hover a{
  color: #ff5e14;
} */
.footer-menu li i {
  font-size: 24px;
  color: white;
}